h1{
    color: red;
}

.super-mario {
    width: 300px;
    position: absolute;
    top: 60px;
    margin: 10px;
}

.goomba {
    width: 280px;
    position: absolute;
    top: 500px;
    margin: 15px;
}

.word {
    font-size: 1.4em;
    font-weight: bold;
    position: absolute;
    top: 350px;
    right: 640px;
    margin: 30px;
    z-index: 2;
}

.baloon {
    position: absolute;
    top: 300px;
    right: 600px;
    z-index: 1;
    margin: 20px;
}

.bowser {
    width: 300px;
    position: absolute;
    top: 380px;
    right: 300px;
    margin: 20px;
}