ol {
    background-color: yellow;
}

ol li:nth-child(even) {
    color: green;
}

/* Buscando numeros primos*/
ol li:nth-of-type(2),
ol li:nth-child(2n+3) {
    text-transform: uppercase;
}

h1,
h3 {
    color: red;
}

h1 em,
h3 em {
    font-size: 40px;
    border: 1px black solid;
}

li {
    font-size: 20px;
}

li em {
    font-weight: bold;
}

/* -n+3 -> buscando os tres primeiros elementos*/
ul li:nth-child(-n+3) {
    color: blue;
}

div ul li[value*="java"] {
    background-color: pink;
}

a:hover {
    font-weight: bold;
}

ul li:nth-child(1) a:hover {
    color: orange;
}

ul li:nth-child(2) a:hover {
    color: green;
}

ul li:nth-child(3) a:hover {
    color: black;
}

ul li:nth-child(4) a:hover {
    color: yellow;
}

ul li:nth-child(5) a:hover {
    color: green;
}