*{
  text-align: center;
}

.first {
  background-color: rgb(235, 200, 84);
  width: 200px;
}

.second {
  background-color: rgb(219, 219, 219);
  width: 300px;
  
}

.third {
  background-color: rgb(170, 142, 106);
  width: 300px;
 
}

.first,
.second,
.third{
  display: inline-block;
  font-size: 20px;
  height: 50px;
}

li {
  display: inline-block;
}