h3{
    font-family: 'Redressed', cursive;
}

div:hover{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: deeppink;
}

div:nth-child(1) {
    color: yellow;
}

div:nth-child(2){
    color: purple;
}

div:nth-child(3){
    color:rgb(255,69,0);
    font-size: 2em;
    
    
}

div:nth-child(4){
    color: rgb(0,0,139);
}

div:nth-child(5){
    color: rgb(144,238,144)
    ;
}
div:nth-child(odd){
    font-style: italic;
}

