*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #cae9f3;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: blue;
}
p{
    text-align: justify;
    
}
.container{
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
}
.img-mantis img{
    width: 600px;
    height: 380px;
}

