body{
    font-size: 16px;
}
h1{
    width: 65px;
    color: orange;
    font-family: sans-serif;
    text-align: center;

}
#colour{
    background-color: palegreen;
}
.style-colour{
    
    background-color: purple;     
}
#yellow{
    background-color: yellow;
}
#red{
    background-color: red;
}
#brown{
    background-color: brown;
}
p{
    text-align: center;
    font-weight: 600;
    font-size: 3em;
    text-decoration: underline;
}
li{
    font-style: italic;
    line-height: 2em;
}